#                                                   Data Structure

### Lists

In [44]:
list_of_random_things = [1, 3.4, 'a string', True]

In [2]:
list_of_random_things

[1, 3.4, 'a string', True]

In [47]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
#              0          1          2        3       4       5       6       7          8            9          10          11
#                                                                                                                              -1

In [48]:
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

#### Slice and Dice with Lists

In [4]:
q3 = months[6:9]
print(q3)

['July', 'August', 'September']

In [8]:
first_half = months[:6]
print(first_half)

['January']

In [5]:
second_half = months[6:]
print(second_half)

['July', 'August', 'September', 'October', 'November', 'December']

In [6]:
#PRACTISING
list_of_random_things = [1, 3.4, 'a string', True]
list_of_random_things[1:2]

[3.4]

In [8]:
# for i in range(1,91):
#    print(i)

#### This type of indexing works exactly the same on strings, where the returned value will be a string.

In [16]:
print(len(months))

12

In [17]:
# in & not in
print("Sunday" in months)
print('this' in 'this is a string')

print("Sunday" not in months)
print('this' not in 'this is a string')

False
True
True
False

In [11]:
# Same Indexing
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
print(months[0]) 
print(months[1]) 
print(months[7]) 
print(months[-1]) 
# print(months[25])

NameError: name 'months' is not defined

### Mutability and Order
Mutability is about whether or not we can change an object once it has been created. If an object (like a list or string) can be changed (like a list can), then it is called mutable. However, if an object cannot be changed with creating a completely new object (like strings), then the object is considered immutable.

In [22]:
#List
my_lst = ["YAsmin", 2, 3, 4, 5]
my_lst[0] = 'Ali'
print(my_lst)

['Ali', 2, 3, 4, 5]

In [24]:
#String
greeting = "Hello there"
greeting[0] = "m"

TypeError: 'str' object does not support item assignment

In [32]:
# NOTE : immutable object

# String
name = "Ahmed"
student = name
name = "Omer"

print(name)
print(student)

Omer
Ahmed

In [36]:
#list is mutible

scores = ["B", "C" , "A" ,"D", "B" ,"A"]
grades = scores

print("Scores: "  ,str(scores))
print("Grades: " , grades)

print()

scores[3]= "B"
print("Scores: " , scores)
print("Grades: " , grades)

Scores:  ['B', 'C', 'A', 'D', 'B', 'A']
Grades:  ['B', 'C', 'A', 'D', 'B', 'A']

Scores:  ['B', 'C', 'A', 'B', 'B', 'A']
Grades:  ['B', 'C', 'A', 'B', 'B', 'A']

### Useful Functions for Lists

In [37]:
len(months)

12

In [38]:
num = [15, 30, 12, 2 ,10 ,40 ,35]
max(num)

40

In [39]:
max(months)

'September'

In [45]:
max(list_of_random_things)

4

In [ ]:
min(num)

In [40]:
min(months)

'April'

In [ ]:
min(list_of_random_things)

In [46]:
print(sorted(num))    #ascending
print(sorted(num, reverse=True))   #descending

[2, 10, 12, 15, 30, 35, 40]
[40, 35, 30, 15, 12, 10, 2]

In [51]:
s_months = "/".join(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])
print(s_months)

January/February/March/April/May/June/July/August/September/October/November/December

#### In this example we use the string "\n" as the separator so that there is a newline between each element. We can also use other strings as separators with .join. Here we use a hyphen.

It is important to remember to separate each of the items in the list you are joining with a comma (,). Forgetting to do so will not trigger an error, but will also give you unexpected results.

In [64]:
#add element to list
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

***

## Tuples

In [55]:
location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])

Latitude: 13.4125
Longitude: 103.866667

In [58]:
#Tuples can also be used to assign multiple variables in a compact way.
dimensions = 52, 40, 100
length, width, height = dimensions
print("The dimensions are {} x {} x {}".format(length, width, height))

The dimensions are 52 x 40 x 100

#### The parentheses are optional when defining tuples, and programmers frequently omit them if parentheses don't clarify the code.

In the second line, three variables are assigned from the content of the tuple dimensions. This is called tuple unpacking. You can use tuple unpacking to assign the information from a tuple into multiple variables without having to access them one by one and make multiple assignment statements.

***

## Sets

In [67]:
numbers = [1, 2, 6, 3, 1, 1, 6]
print(numbers)
unique_nums = set(numbers)
print(unique_nums)

[1, 2, 6, 3, 1, 1, 6]
{1, 2, 3, 6}

In [78]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

In [75]:
print("watermelon" in fruit)  # check for element

False

In [76]:
fruit.add("watermelon")  # add an element
print(fruit)

{'watermelon', 'grapefruit', 'banana', 'orange', 'apple'}

In [79]:
print(fruit.pop())  # remove a random element
print(fruit)

orange
{'banana', 'apple', 'grapefruit'}

***

### Dictionary

In [80]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [81]:
# Creating a dictionary to store student details
student = {
    "name": "Alice",
    "age": 22,
    "grade": "A",
    "courses": ["Math", "Science", "English"]
}

In [82]:
# Accessing values
print("Student Name:", student["name"]) 
print("Student Age:", student["age"])    
print("Enrolled Courses:", student["courses"])

Student Name: Alice
Student Age: 22
Enrolled Courses: ['Math', 'Science', 'English']

In [83]:
# Adding a new key-value pair
student["city"] = "New York"
print("Updated Student Info:", student)

Updated Student Info: {'name': 'Alice', 'age': 22, 'grade': 'A', 'courses': ['Math', 'Science', 'English'], 'city': 'New York'}

In [84]:
# Modifying an existing value
student["grade"] = "A+"
print("Updated Grade:", student["grade"])

Updated Grade: A+

In [85]:
# Removing a key-value pair
del student["age"]
print("After Removing Age:", student)

After Removing Age: {'name': 'Alice', 'grade': 'A+', 'courses': ['Math', 'Science', 'English'], 'city': 'New York'}

In [91]:
#Using in
print("carbon" in elements)
print(elements.get("dilithium"))

True
None

In [87]:
n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

In [92]:
#get with a Default Value
elements.get('dilithium')

In [93]:
elements['dilithium']

KeyError: 'dilithium'

In [94]:
 elements.get('kryptonite', 'There\'s no such element!')

"There's no such element!"

##### In the last example we specified a default value (the string 'There's no such element!') to be returned instead of None when the key is not found.

***

### Compound Data Structures

In [95]:
elements = {
    "hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"
                        },
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}
           }

In [97]:
#We can access elements in this nested dictionary like this.
helium = elements["helium"]  # get the helium dictionary
hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight

print(helium)
print(hydrogen_weight)

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}
1.00794

In [98]:
# You can also add a new key to the element dictionary.
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary 
elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary
print('elements = ', elements)

elements =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}