## Final Project
### In order to solve this set of questions you will use the dataset in the relative directory ./tmdb_5000_movies.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Open Your CSV file and print the first 10 rows in a good format ###

In [2]:
data = pd.read_csv("tmdb_5000_movies.csv")
print(data.head(10))

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5  258000000  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6  260000000  [{"id": 16, "name": "Animation"}, {"id": 10751...
7  280000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8  250000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9  250000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                            homepage      id  \
0                        http://www.avatarmovie.com/   19995
1       http://disney.go.com/disneypictures/pirates/     285
2        http://www.sonypictures.com/movies/spectre/  206647
3                 http://www.thedarkknightrises.com/   49026
4               http://movies.disney.com/john-carter   49529
5    http://www.sonypictures.com/movies/spider-man3/     559
6       http://disney.go.com/disneypictures/tangled/   38757
7  http://marvel.com/movies/movie/193/avengers_ag...   99861
8  http://harrypotter.warnerbros.com/harrypottera...     767
9       http://www.batmanvsupermandawnofjustice.com/  209112

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en
5  [{"id": 851, "name": "dual identity"}, {"id": ...                en
6  [{"id": 1562, "name": "hostage"}, {"id": 2343,...                en
7  [{"id": 8828, "name": "marvel comic"}, {"id": ...                en
8  [{"id": 616, "name": "witch"}, {"id": 2343, "n...                en
9  [{"id": 849, "name": "dc comics"}, {"id": 7002...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter
5                              Spider-Man 3
6                                   Tangled
7                   Avengers: Age of Ultron
8    Harry Potter and the Half-Blood Prince
9        Batman v Superman: Dawn of Justice

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bondâ€™s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995
5  The seemingly invincible Spider-Man goes up ag...  115.699814
6  When the kingdom's most wanted-and most charmi...   48.681969
7  When Tony Stark tries to jumpstart a dormant p...  134.279229
8  As Harry begins his sixth year at Hogwarts, he...   98.885637
9  Fearing the actions of a god-like Super Hero l...  155.790452

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]
5  [{"name": "Columbia Pictures", "id": 5}, {"nam...
6  [{"name": "Walt Disney Pictures", "id": 2}, {"...
7  [{"name": "Marvel Studios", "id": 420}, {"name...
8  [{"name": "Warner Bros.", "id": 6194}, {"name"...
9  [{"name": "DC Comics", "id": 429}, {"name": "A...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100
5  [{"iso_3166_1": "US", "name": "United States o...   2007-05-01   890871626
6  [{"iso_3166_1": "US", "name": "United States o...   2010-11-24   591794936
7  [{"iso_3166_1": "US", "name": "United States o...   2015-04-22  1405403694
8  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2009-07-07   933959197
9  [{"iso_3166_1": "US", "name": "United States o...   2016-03-23   873260194

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released
5    139.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
6    100.0           [{"iso_639_1": "en", "name": "English"}]  Released
7    141.0           [{"iso_639_1": "en", "name": "English"}]  Released
8    153.0           [{"iso_639_1": "en", "name": "English"}]  Released
9    151.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.
5                              The battle within.
6        They're taking adventure to new lengths.
7                             A New Age Has Come.
8                           Dark Secrets Revealed
9                              Justice or revenge

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
5                              Spider-Man 3           5.9        3576
6                                   Tangled           7.4        3330
7                   Avengers: Age of Ultron           7.3        6767
8    Harry Potter and the Half-Blood Prince           7.4        5293
9        Batman v Superman: Dawn of Justice           5.7        7004

##### Exploring data

### Check if any NANs in your dataset and fill them with a good filer ###

In [3]:
data = data.replace(np.nan, "-") # replaced all of the null with "-"
data.isna().sum() # check if there's a null value left

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [3]:
"""
We can fill the datasets by many ways. depending on the way we see the data. the filling method always depend on the 
understanding of the columns variables
"""
# mean is not always the best solution, if there is any outliers, it will be misleading. 
#more suitable with symmetric data distribution
"""dataset.fillna(dataset.mean(), inplace = True) """

# median is a good solution with skewed data. but since we have categoricals variables I cannot use it
"""dataset.fillna(dataset.median(), inplace = True)"""

# also we can use linear interpolation to fill the nan data,
# in this code snippet it will change the nan with the most suitable number, to follow the direction of increasing.
"""dataset.interpolate(method ='linear', limit_direction ='forward')"""

"dataset.interpolate(method ='linear', limit_direction ='forward')"

In [ ]:
releasedate and runtime

### Discover the types of each columns and modify them if needed ###

In [4]:
print(data["release_date"].head(10))
print(data.dtypes) # check the type of each column

data["release_date"] = pd.to_datetime(data["release_date"], format="%Y-%m-%d", errors='coerce')
print(data.head(2))
print(data.dtypes)

0    2009-12-10
1    2007-05-19
2    2015-10-26
3    2012-07-16
4    2012-03-07
5    2007-05-01
6    2010-11-24
7    2015-04-22
8    2009-07-07
9    2016-03-23
Name: release_date, dtype: object
budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                  object
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
dtype: object
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...

                                       homepage     id  \
0                   http://www.avatarmovie.com/  19995
1  http://disney.go.com/disneypictures/pirates/    285

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000

  runtime                                   spoken_languages    status  \
0   162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1   169.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
budget                           int64
genres                          object
homepage                        object
id                               int64
keywords                        object
original_language               object
original_title                  object
overview                        object
popularity                     float64
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                          int64
runtime                         object
spoken_languages                object
status                          object
tagline                         object
title                           object
vote_average                   float64
vote_count                       int64
dtype: object

### Give a very simple statistical analsys for the numerical columns ###

In [5]:
numerical_cols = data.select_dtypes(include=["int64", "float64"]).columns
print(numerical_cols)

Index(['budget', 'id', 'popularity', 'revenue', 'vote_average', 'vote_count'], dtype='object')

### Calculate the mean rate for [1999, 1980, 2004, 2017] the movies grouped by years ###

In [10]:
target_years = [1999, 1980, 2004, 2017]
data["year"] = data["release_date"].dt.year
filtered_data = data[data["year"].isin(target_years)]
mean_ratings = filtered_data.groupby("year")["vote_average"].mean()
print(mean_ratings)

year
1980.0    6.609091
1999.0    6.110526
2004.0    6.104412
2017.0    7.400000
Name: vote_average, dtype: float64

### Rearange the dataframe based on revenue - budget values ###

In [13]:
data["profit"] = data["revenue"] - data["budget"]
data_sorted = data.sort_values(by="profit", ascending=False)
print(data_sorted[["title", "budget", "revenue", "profit"]].head(10))

                                             title     budget     revenue  \
0                                           Avatar  237000000  2787965087
25                                         Titanic  200000000  1845034188
28                                  Jurassic World  150000000  1513528810
44                                       Furious 7  190000000  1506249360
16                                    The Avengers  220000000  1519557910
7                          Avengers: Age of Ultron  280000000  1405403694
124                                         Frozen  150000000  1274219009
546                                        Minions   74000000  1156730962
329  The Lord of the Rings: The Return of the King   94000000  1118888979
31                                      Iron Man 3  200000000  1215439994

         profit
0    2550965087
25   1645034188
28   1363528810
44   1316249360
16   1299557910
7    1125403694
124  1124219009
546  1082730962
329  1024888979
31   1015439994

### Allocate the year with the largest movies released in ['Action', 'Romance'] ###

In [14]:
filtered = data[data["genres"].str.contains("Action|Romance", case=False, na=False)]
movies_per_year = filtered["year"].value_counts().sort_values(ascending=False)
most_active_year = movies_per_year.idxmax()
count = movies_per_year.max()

print(f"The year with the most 'Action' or 'Romance' movies is {most_active_year} with {count} movies.")

The year with the most 'Action' or 'Romance' movies is 2009.0 with 108 movies.

### Find the movies with top 5 revenue - budget value ###

In [15]:
print(data_sorted[["title", "budget", "revenue", "profit"]].head(5))

             title     budget     revenue      profit
0           Avatar  237000000  2787965087  2550965087
25         Titanic  200000000  1845034188  1645034188
28  Jurassic World  150000000  1513528810  1363528810
44       Furious 7  190000000  1506249360  1316249360
16    The Avengers  220000000  1519557910  1299557910

### Find the year with the highest number of movies release ###

### Find the top 2 countries with the highest production movies number ###

### Find the top 1 company with the highest production movies number ###

### Is there any relation between the runtime and average vote value ### **

### Find the top 5 movies with the highest rate, and find if there anything common between them. ###

### Find the most unsuccessful movie along time in terms of revenue - budget ###

### Rearange the dataframe based on vote_average column values ###

### Rearange the dataframe based on runtime column values ###

### Find the top 5 successful years for the USA cinema based on the total income devided by number of movies  ###

### Find the most succesfull movie in [USA, UK] ###

### In your opinion what is the highest variable that affects the revenue value (high coloration) ### PONUS

## Good Luck